// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/*Header*/
#logo {
  max-height: 50px;
}

#app > nav > div, #app > nav, #warehouse_panel > h3 {
  background-color: #4DC8E9 !important;

}

#navbarSupportedContent > ul.navbar-nav.ml-auto > li > a {
  font-size: 1.2em;
  font-weight: bold;

}

/***********************************************************************************/

/*Front page*/
#app > main > div.container > div > div > div > div.card-header {
  background: #8AE3D7;
}

/*Admin page*/
#user_panel, #stats_panel, #warehouse_panel {
  padding: 0;

  > h3 {

    background: #61D4D4;
  }
  > a {
    background: #8AE3D7;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-in-out;
    padding: 5px;

    &:hover {
      background: #61D4D4;
      font-weight: bold;

    }

  }
}

/*Add invoice page*/

#add {
  background-color: green;
  border-radius: 20px;
  i {
    color: white;
  }
}

/*Workers page*/

#workersTable div.sticky-top {
  background-color: #F8FAFC;
  font-weight: bold;
  font-size: 1.2em;

}

/* End of Workers page*/

/*Create food page*/
#food_form_input_fields > #row {
  min-height: 60px;
}

/*End of Create food page*/

/*Show products page*/
#app td.change_sell_price_forms {
  max-width: 80px;
}

/*End of Show products page*/

/*Create new order page*/
#form_header {
  max-width: 150px;
}

/*End of Create new order page*/

/*Invoice Statistics page*/

#search_form > div > div:nth-child(n) {
  max-width: 218px;
}
